body {
  scroll-behavior: smooth;
  background-color: #111111;
  overflow-x: hidden;
  overflow-y: scroll !important; }
  body .validation .input-group input:focus {
    box-shadow: 0px 0em 0em 0em; }
  body .overlay {
    position: sticky;
    top: 300px; }
  body .less {
    font-size: 16px;
    color: #dc3545;
    margin-top: -12px;
    margin-left: 5px; }
  body .calculadora {
    display: block; }
  body .menu {
    padding: 50px 0 80px; }
  body .navbar-expand-lg .navbar-collapse {
    justify-content: end; }
    body .navbar-expand-lg .navbar-collapse .nav-item {
      text-align: center; }
      body .navbar-expand-lg .navbar-collapse .nav-item a {
        font-size: 16px;
        line-height: 16px;
        letter-spacing: -0.5px;
        color: #FFF; }
        body .navbar-expand-lg .navbar-collapse .nav-item a:first-child {
          margin-right: 24px; }
    body .navbar-expand-lg .navbar-collapse .btn-area {
      display: flex;
      justify-content: flex-end; }
    body .navbar-expand-lg .navbar-collapse .btn {
      background: #3E465F;
      border-radius: 10px;
      padding: 13px 18px;
      margin-right: 8px;
      font-weight: 500 !important;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: -0.5px;
      color: #FFFFFF; }
      body .navbar-expand-lg .navbar-collapse .btn.purple {
        background: #7553E2;
        border-radius: 10px;
        min-width: 89px; }
  body .background {
    background: linear-gradient(275.83deg, #9757FF -22.92%, #3300FF 92.78%);
    color: white !important; }
  body .btn-primary {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 12px 16px;
    font-weight: 500; }
  body .hide {
    display: none; }
  body .btn-cards {
    background: linear-gradient(275.83deg, #9757FF -22.92%, #3300FF 92.78%);
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    width: 60%;
    font-size: 16px; }
  body .accordion-body p {
    border-top: 1px solid grey;
    margin-top: -13px;
    padding-top: 20px; }
  body .accordion-flush .accordion-item {
    border-radius: 12px !important;
    background: #232323;
    border: none; }
    body .accordion-flush .accordion-item .accordion-button {
      border-radius: 12px !important;
      padding: 25px 20px;
      background: #232323;
      border: #232323 1px solid;
      color: white; }
  body .accordion-button::after {
    background-image: none !important;
    content: '\25be';
    float: right;
    transform: scale(1.5); }
  body button:focus {
    box-shadow: 0 0 0 0 !important;
    border: 0 none !important;
    outline: 0 !important; }
  body .carousel-cell img {
    width: 250px;
    height: 360px;
    margin-right: 20px;
    counter-increment: carousel-cell;
    border-radius: 12px;
    object-fit: cover; }
  body .little-gap {
    margin-top: 95px; }
  body .button-hiring button {
    background-color: #3E465F;
    border-radius: 10px;
    padding: 12px 20px;
    color: white;
    border: none;
    font-weight: 500; }
  body h1 {
    color: white;
    font-weight: 700;
    line-height: 38px;
    font-size: 48px; }
  body h2 {
    font-size: 22px;
    color: white; }
  body p {
    color: white;
    font-size: 16px;
    font-weight: 500; }
  body .influencers {
    width: 594px;
    height: auto;
    object-fit: cover;
    margin-top: -83px;
    margin-bottom: -75px; }
  body .flickity-page-dots .dot {
    display: none; }
  body .more-channel p {
    color: #B390FF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 13px;
    cursor: pointer;
    right: 9px;
    position: relative; }
  body .calculator {
    background: #1C1E25;
    color: white;
    height: auto;
    padding: 40px 20px;
    border-radius: 15px;
    margin-top: 30px;
    max-width: auto; }
    body .calculator .social-cards .fa-brands {
      background: rgba(117, 83, 226, 0.1);
      padding: 10px;
      border-radius: 50%; }
    body .calculator .offcanvas-header {
      margin-top: -10px;
      padding: 0 30px 30px 40px;
      align-items: center; }
      body .calculator .offcanvas-header img {
        width: 30px;
        margin-right: -35px; }
      body .calculator .offcanvas-header .offcanvas-title-outside {
        font-size: 15px;
        margin-left: -33px; }
    body .calculator .notification {
      text-align: center;
      right: -5px;
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: #B390FF;
      border-radius: 50%;
      align-items: center;
      margin-top: -56px;
      padding-top: 1px;
      z-index: 1; }
      body .calculator .notification p {
        font-size: 12px; }
    body .calculator .checkbox-part {
      position: absolute;
      right: -80px; }
    body .calculator .offcanvas.show:not(.showing),
    body .calculator .offcanvas.showing {
      transition: .3s;
      position: relative;
      margin-top: -329px;
      background-color: #272A33;
      min-height: 330px; }
    body .calculator .offcanvas.show:not(.hiding),
    body .calculator .offcanvas.showing {
      position: relative;
      margin-top: -329px;
      background-color: #272A33;
      min-height: 330px; }
    body .calculator .offcanvas-backdrop.show {
      opacity: 0.5;
      overflow-y: scroll; }
    body .calculator .offcanvas-footer {
      bottom: 2px;
      z-index: 1; }
      body .calculator .offcanvas-footer button {
        font-size: 18px;
        border: none;
        border-radius: 35px;
        padding: 16px;
        width: 80%;
        background: rgba(80, 86, 102, 0.3);
        color: #FFFFFF;
        font-weight: 600;
        display: block;
        margin: 0 auto;
        margin-top: 30px; }
    body .calculator .fa-chevron-down:before {
      font-size: 14px; }
    body .calculator .social-card {
      background-color: #272A33;
      border-radius: 12px;
      padding: 1px 0px 0px 0px;
      margin: 5px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative; }
      body .calculator .social-card:hover {
        opacity: 0.5; }
    body .calculator .selected {
      outline: 4px solid #B390FF;
      border-radius: 12px; }
    body .calculator .notSelected {
      display: none !important; }
    body .calculator #select-icon {
      font-size: 11px; }
    body .calculator .text-calculator {
      margin-bottom: 15px; }
    body .calculator .input-group input {
      background: #272A33;
      border: none;
      color: white;
      height: 50px;
      border-radius: 12px;
      font-size: 18px;
      font-weight: 500;
      padding-left: 20px; }
    body .calculator .offcanvas-body input[type=checkbox] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 2px solid #fff;
      background-color: transparent;
      width: 20px;
      height: 20px;
      outline: none;
      cursor: pointer; }
    body .calculator input[type=range] {
      -webkit-appearance: none;
      margin: 23px 0;
      width: 100%;
      background: #272a33;
      border-radius: 12px; }
    body .calculator input[type=range]:focus {
      outline: none; }
    body .calculator input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 6px;
      cursor: pointer;
      animate: 0.2s;
      background: #404554;
      border-radius: 25px; }
    body .calculator input[type=range]::-webkit-slider-thumb {
      height: 25px;
      width: 25px;
      border-radius: 50%;
      background: linear-gradient(275.83deg, #9757FF -22.92%, #3300FF 92.78%);
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -9px;
      border: 5px solid #333030; }
    body .calculator input[type=range]:focus::-webkit-slider-runnable-track {
      background: linear-gradient(275.83deg, #9757FF -22.92%, #3300FF 92.78%); }
    body .calculator .range-wrap {
      position: relative;
      background-color: #272A33;
      border-radius: 12px;
      padding: 0px 10px;
      height: 50px; }
    body .calculator .description {
      width: auto;
      min-width: 80px;
      height: 25px;
      text-align: center;
      background: #555;
      color: #fff;
      font-size: 12px;
      display: inline-block;
      font-weight: 500;
      transform: translate(-50%, 0);
      border-radius: 6px;
      padding: 4px 0px; }
    body .calculator .description:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-bottom: 10px solid #555;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      margin-top: -1px; }
  body .line {
    border-bottom: 1px solid #FFFFFF;
    opacity: 0.2;
    padding: 0px; }
  body .btn-investment-main button {
    background: linear-gradient(275.83deg, #9757FF -22.92%, #3300FF 92.78%);
    color: white;
    text-align: center;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    width: 100%; }
  body .btn-investment button {
    background: linear-gradient(275.83deg, #9757FF -22.92%, #3300FF 92.78%);
    color: white;
    text-align: center;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    height: 50px; }
  body .card {
    background: linear-gradient(275.83deg, #9757FF -22.92%, #3300FF 92.78%);
    border-radius: 16px;
    border: none;
    font-size: 22px;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
    padding: 0px; }
    body .card .internal {
      padding: 53px 32px; }
      body .card .internal .disclaimer h5 {
        font-size: 16px;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 19px 27px;
        font-weight: 500;
        align-items: center;
        display: flex;
        gap: 14px;
        justify-content: center;
        border-radius: 6px; }
        body .card .internal .disclaimer h5 span i {
          border: 2px solid white;
          font-size: 15px;
          padding: 10px;
          border-radius: 50%;
          background-color: rgba(255, 255, 255, 0.1);
          color: white;
          text-align: center; }
    body .card .internal-btn {
      padding: 30px 40px 30px; }
    body .card input[type=range] {
      -webkit-appearance: none;
      margin: 20px 0;
      width: 100%;
      background: #272a33;
      border-radius: 12px; }
    body .card input[type=range]:focus {
      outline: none; }
    body .card input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 16px;
      cursor: pointer;
      animate: 0.2s;
      background: #9556FE;
      border-radius: 25px; }
    body .card input[type=range]::-webkit-slider-thumb {
      height: 25px;
      width: 25px;
      border-radius: 50%;
      background: white;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -6px;
      border: 5px solid #9556FE; }
    body .card input[type=range]:focus::-webkit-slider-runnable-track {
      background: white; }
    body .card .range-wrap {
      position: relative; }
    body .card .range-value {
      position: absolute;
      top: -36%; }
    body .card .range-value span {
      width: 40px;
      height: 20px;
      line-height: 24px;
      text-align: center;
      background: white;
      color: #fff;
      font-size: 14px;
      display: block;
      position: absolute;
      font-weight: 500;
      transform: translate(-50%, 0);
      border-radius: 6px; }
    body .card .range-value span:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-top: 10px solid #272A33;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      margin-top: -3px; }
    body .card .card-body {
      height: 185px;
      width: auto; }
      body .card .card-body h5 {
        font-size: 24px;
        margin-top: -12px; }
      body .card .card-body p {
        font-size: 18px;
        color: #FFFFFF; }
      body .card .card-body .align-right {
        margin-left: 50px; }
        body .card .card-body .align-right img {
          position: absolute;
          margin-left: -50px;
          margin-top: 8px;
          background: #ff22;
          padding: 10px;
          border-radius: 50%; }
      body .card .card-body .align p {
        margin-left: 20px;
        margin-bottom: -10px; }
      body .card .card-body .align img {
        position: absolute;
        margin-top: 3px; }
  body .modal .modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    width: 90%; }
    body .modal .modal-content label {
      color: #7F7F7F;
      font-size: 12px; }
    body .modal .modal-content .simulation-btn {
      background: linear-gradient(275.83deg, #9757FF -22.92%, #3300FF 92.78%);
      color: white;
      font-size: 20px;
      border-radius: 30px;
      font-weight: 600; }
    body .modal .modal-content .btn-close {
      font-size: 15px;
      opacity: 1; }
    body .modal .modal-content .form-control {
      background-color: #F0F0F0;
      border: none; }
  body .modal h1 {
    color: black;
    font-size: 20px;
    font-weight: 700; }
  body .modal .main .btn-creator {
    background-color: white;
    border: 1px solid #3300FF;
    color: #3300FF;
    padding: 10px;
    border-radius: 12px 0px 0px 12px;
    font-size: 16px;
    font-weight: 500;
    width: 210px; }
  body .modal .main .btn-company {
    background-color: white;
    border: 1px solid #3300FF;
    color: #3300FF;
    border-radius: 0px 12px 12px 0px;
    font-size: 16px;
    font-weight: 500;
    width: 210px; }
  body .card-information {
    background-color: #1C1E25;
    border-radius: 15px;
    max-height: 450px;
    margin-top: 209px;
    display: flex;
    justify-content: center; }
    body .card-information .info-img {
      display: flex;
      justify-content: center; }
    body .card-information img {
      width: 500px;
      height: 400px;
      margin-top: -130px;
      border-radius: 20px;
      object-fit: cover; }
    body .card-information .card-body {
      padding: 80px 90px;
      color: #FFFFFF; }
      body .card-information .card-body h5 {
        font-weight: 700;
        font-size: 39px;
        line-height: 38px; }
      body .card-information .card-body p {
        font-weight: 700;
        font-size: 22px;
        line-height: 24px; }
  body .questionary {
    margin-top: 80px;
    margin-bottom: 80px; }
    body .questionary h1 {
      font-size: 35px; }
  body footer {
    margin-top: 140px;
    border-top: 1px solid #3E465F; }
    body footer .row {
      padding: 60px 0;
      align-items: baseline; }
    body footer h3 {
      color: #fff;
      font-size: 17px;
      line-height: 1.3em;
      margin-top: 6px;
      text-transform: uppercase; }
    body footer h4 {
      color: #FFF;
      font-size: 17px;
      font-weight: 700; }
    body footer .logo {
      max-width: 205px; }
    body footer ul {
      list-style: none;
      padding-left: 0; }
      body footer ul li {
        padding-top: 10px; }
        body footer ul li a {
          color: #8B90A0;
          font-size: 16px;
          text-decoration: none;
          font-weight: 700; }
          body footer ul li a:hover {
            color: #fff;
            font-weight: 700; }
    body footer .list-terms a {
      font-size: 13px;
      line-height: 16px;
      text-align: right;
      letter-spacing: 0.5px;
      color: #8B90A0;
      margin: 0 40px 0 0; }
    body footer .social-media {
      display: flex; }
      body footer .social-media a img {
        padding-right: 5px; }
    body footer #rdstation-bricks-embeddable-form-bricks-component-1ABMwOA55ETO_N3vLfGmTQ .bricks-form {
      padding: 0; }
    body footer #rd-column-lhjemie0 > div {
      padding: 0;
      background: transparent; }
    body footer #conversion-form-formulario-do-blog {
      display: flex !important;
      align-items: center;
      background-color: #272a33;
      border-radius: 16px;
      height: 50px;
      max-width: 250px; }
    body footer #rd-form-lhjemie1 .bricks-form__input:not(textarea) {
      margin-top: 10px; }
      body footer #rd-form-lhjemie1 .bricks-form__input:not(textarea):focus {
        border: 1px solid transparent;
        box-shadow: 0 0 0 0;
        border: 0 none;
        outline: 0; }
    body footer #rdstation-bricks-embeddable-form-bricks-component-1ABMwOA55ETO_N3vLfGmTQ .bricks-form__input.error {
      margin-top: 25px;
      border: none; }
    body footer #rd-form-lhjemie1 .bricks-form__submit {
      width: 50px; }
    body footer #rd-button-lhjemie4 {
      margin-top: 0;
      background: transparent;
      border: 0;
      font-size: 0; }
      body footer #rd-button-lhjemie4::before {
        content: '';
        background: url("assets/image/right-arrow.png");
        display: block;
        width: 15px;
        height: 15px;
        background-size: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
  @media screen and (min-width: 300px) and (max-width: 900px) {
    body .card .btn-primary {
      padding: 10px 14px; }
    body body {
      overflow-x: hidden; }
    body p {
      font-size: 13px; }
    body .less {
      font-size: 13px;
      color: #dc3545;
      margin-top: -12px;
      margin-left: 5px; }
    body .modal .modal-content {
      display: block;
      width: 109%;
      position: absolute;
      bottom: 0px;
      margin: -15px;
      border-radius: 20px 20px 0px 0px; }
      body .modal .modal-content .simulation-btn {
        width: 100%; }
    body .selected {
      outline: 4px solid #B390FF;
      border-radius: 12px; }
    body .menu {
      backdrop-filter: blur(12.5px);
      position: fixed;
      top: 0;
      left: 0;
      padding: 18px;
      z-index: 10;
      width: 100%; }
      body .menu button.navbar-toggler {
        background: linear-gradient(284.09deg, #9757FF -1.11%, #3300FF 193.48%);
        border: none;
        border-radius: 50%;
        padding: 10px; }
        body .menu button.navbar-toggler span.navbar-toggler-icon {
          filter: invert(1); }
    body .navbar-expand-lg .navbar-collapse {
      padding: 20px 0 0; }
      body .navbar-expand-lg .navbar-collapse .nav-item a {
        font-size: 24px;
        line-height: 16px;
        text-align: right; }
        body .navbar-expand-lg .navbar-collapse .nav-item a:first-child {
          margin-right: 0;
          padding: 18px 8px 18px 0; }
      body .navbar-expand-lg .navbar-collapse .btn-area {
        display: grid;
        float: right; }
        body .navbar-expand-lg .navbar-collapse .btn-area .btn {
          background: transparent;
          text-align: right;
          padding: 18px 8px 18px 0;
          margin-right: 0;
          font-size: 24px;
          line-height: 16px; }
          body .navbar-expand-lg .navbar-collapse .btn-area .btn.purple {
            background: #7553E2;
            text-align: center;
            margin-top: 18px; }
    body h1 {
      margin-top: 60px; }
    body .btn-primary {
      padding: 10px 23px; }
    body .internal-btn {
      padding: 5px 10px; }
    body .hide-mobile {
      display: none; }
    body .calculator {
      height: auto;
      margin-bottom: 45px; }
      body .calculator button {
        padding: 10px 20px; }
    body .form-control:valid {
      z-index: 0; }
    body .collapsed-all {
      padding: 32px 85px 85px 22px;
      white-space: nowrap; }
      body .collapsed-all .col h2 {
        font-size: 16px;
        font-weight: 100; }
    body .navbar-toggler {
      border: none; }
      body .navbar-toggler:hover {
        border: none; }
    body .container .influencers {
      display: none; }
    body .container h1 {
      font-size: 22px; }
    body .container .card-calculator input {
      margin: 0; }
    body .container #calculator-show .card-body {
      height: 25px; }
    body .container .internal {
      padding: 5px; }
    body .container .line {
      margin-top: 80px; }
    body .container .card-body h5 {
      font-size: 20px;
      margin-top: -12px; }
    body .container .card-body p {
      font-size: 14px;
      color: #FFFFFF;
      opacity: 0.8; }
    body .container .card-body .position {
      margin-top: 20px; }
      body .container .card-body .position p {
        margin-bottom: -10px; }
    body .card-information .card-title {
      line-height: .9;
      margin: 0; }
    body .card-information p {
      line-height: 1.2; }
    body .card-information img {
      max-width: 320px;
      max-height: 250px;
      object-fit: cover;
      margin-top: -190px; }
    body .card-information .card-body {
      padding: 100px 20px 20px 20px; }
    body .btn-investment {
      text-align: center; }
      body .btn-investment button {
        background: linear-gradient(275.83deg, #9757FF -22.92%, #3300FF 92.78%);
        color: white;
        text-align: center;
        border: none;
        border-radius: 30px;
        font-weight: 600; }
    body footer {
      margin-top: 100px; }
      body footer .row .list-terms a {
        display: block;
        margin: 10px auto; }
      body footer .row .social-media {
        justify-content: flex-start;
        width: 50%; }
    body .button-hiring {
      display: none; }
    body .navbar-collapse ul li a {
      color: white; }
    body .collapse {
      display: block; }
    body .show,
    body .hide {
      display: block; }
    body .card-body .internal h5 {
      font-size: 14px; }
    body .card {
      height: auto; }
      body .card .internal-btn {
        padding: 6px 6px; }
      body .card .internal {
        position: relative;
        padding: 10px 14px; }
        body .card .internal .disclaimer {
          display: none; }
          body .card .internal .disclaimer h5 {
            margin-top: 10px;
            padding: 20px 20px; }
    body .calculator .calc-price {
      padding: 10px 55px; }
    body .calculator .offcanvas-footer {
      text-align: center; }
      body .calculator .offcanvas-footer button {
        padding: 10px 15px !important; }
    body .calculator .checkbox-part p {
      position: absolute;
      right: 100px; }
    body .social-media {
      align-items: center !important;
      margin-top: -10px; }
    body footer {
      margin-top: 70px; }
      body footer .row {
        padding: 50px 0; }
      body footer .social-media {
        justify-content: flex-start; } }
