<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora Creators</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="https://creators.llc/favicon.png">
    <script src="https://unpkg.com/vue@3"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e99973526a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>
</head>

<body>

    <div id="calc" class="container mt-4">
        <div class="container-fluid">
            <nav class="navbar">
                <a class="navbar-brand hide-mobile" href="https://creators.llc/" target="_blank">
                    <img src="./assets/logo.svg" alt="creators logo">
                </a>
                <div class="button-hiring">
                    <button>
                        <a style="text-decoration:none; color: white;" href="https://creators.llc/?newclient=1"
                            target="_blank">Contrate Creators</a>
                    </button>
                </div>
                <div class="collapse" id="navbarToggleExternalContent">
                    <div class=" collapsed-all">
                        <div class="row">
                            <div class="col">
                                <h2>Como funciona</h2>
                            </div>
                            <div class="col">
                                <h2>Encontre Creators</h2>
                            </div>
                            <div class="col">
                                <h2>Seja Creator</h2>
                            </div>
                            <div class="col">
                                <h2>FAQ</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="navbar navbar-dark hide">
                    <div class="container">
                        <button class="navbar-toggler d-flex align-items-center" data-bs-toggle="collapse"
                            data-bs-target="#navbarToggleExternalContent">
                            <span class="navbar-toggler-icon"></span>
                            <h1>Calculadora de Creators</h1>
                        </button>
                    </div>
                </nav>
        </div>
        </nav>


        <div class="container">
            <div class="row mt-5">
                <div class="col-md-8 ">
                    <h1 id="recalcule">Creators Pricing</h1>
                    <!-- <h2>Saiba qual o preço de publicidade baseado nas principais números métricas de influência.
                    </h2> -->
                    <h2 style="margin-top:20px; font-size: 26px">Calcule o preço de publicidade baseado <br> nas
                        principais métricas de influência.</h2>
                    <img class="influencers" src="./assets/influ.png" alt="influencers-box">
                </div>
                <div class="col-md-4">
                    <div class="container calculator">
                        <p class="text-start">Selecione a plataforma do criador</p>
                        <div class="row g-0 d-flex justify-content-center">

                            <div class="col-6" v-for="rede in redes">
                                <div class="social-card text-center" :class="{selected: rede.selected}"
                                    @click="rede.selected = !rede.selected">
                                    <div class="youtube-card d-flex align-items-center">
                                        <i class="fa-brands" :class="rede.icon"></i>
                                        <p class="mt-3 ms-2">{{ rede.name }}</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="container">
                            <p class="text-start mt-4 text-calculator">Tamanho do canal</p>
                            <div class="range-wrap">
                                <input id="range" type="range" min="0" max="12" step="1" v-model="size">
                                <div class="description" :style="{marginLeft: 4 + (size * 7.66) + '%' }">{{
                                    descriptions[size] }}</div>
                            </div>
                        </div>

                        <div class="container mt-5">

                            <p class="text-start mt-4">Número de postagens por rede</p>
                            <div class="validation">
                                <div class="input-group mb-3">
                                    <input onkeypress='return filtroTeclas(event)' type="text" class="form-control"
                                        v-model="posts" maxlength="3" style="border-radius: 12px; color: grey;"
                                        placeholder="27" onfocus="this.value='';" />
                                </div>
                                <div v-if="this.posts <= 0" class="less">É necessário digitar um número de posts</div>
                                <div v-else-if="this.posts > 100" class="less">Número máximo de posts é de 100</div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="btn-investment-main">
                                    <a href="#calculator-show" style="color: white; text-decoration: none;"> <button
                                            type="submit" onclick="showCreatorCalculator()"
                                            class="mt-4 py-3 calc-price">Calcular preço</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="container">
            <div class="row">
                <h2>Invista no match perfeito</h2>
                <div class="carousel mt-5" data-flickity='{ "contain": true }'>
                    <div class="carousel-cell"><img src="./assets/profile/ale.jpg" alt=""></div>
                    <div class="carousel-cell"><img src="./assets/profile/aline.jpg" alt=""></div>
                    <div class="carousel-cell"><img src="./assets/profile/fabiano.jpg" alt=""></div>
                    <div class="carousel-cell"><img src="./assets/profile/ale.jpg" alt=""></div>
                    <div class="carousel-cell"><img src="./assets/profile/aline.jpg" alt=""></div>
                    <div class="carousel-cell"><img src="./assets/profile/ale.jpg" alt=""></div>
                    <div class="carousel-cell"><img src="./assets/profile/aline.jpg" alt=""></div>
                    <div class="carousel-cell"><img src="./assets/profile/ale.jpg" alt=""></div>
                    <div class="carousel-cell"><img src="./assets/profile/aline.jpg" alt=""></div>
                    <div class="carousel-cell"><img src="./assets/profile/fabiano.jpg" alt=""></div>
                </div>
            </div>
        </div> -->



        <section>
            <div class="container  calcule calculadora" id="calculator-show">
                <!--colocar a class calculadora aqui -->
                <div class="little-gap">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <div class="internal">
                                    <div class="row justify-content-between">
                                        <div class="col align-right">
                                            <img src="./assets/promotion.svg" alt="">
                                            <p>Investimento estimado</p>
                                            <h5>
                                                {{ (estimate * 0.5).toLocaleString('pt-BR', { style: 'currency',
                                                currency: 'BRL', }) }} a
                                                {{ (estimate * 1.5).toLocaleString('pt-BR', { style: 'currency',
                                                currency: 'BRL', }) }}
                                            </h5>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="disclaimer">
                                                <h5 class=""><span><i
                                                            class="fa-solid fa-triangle-exclamation"></i></span> Essa
                                                    estimativa considera canais de criadores com engajamento entre 2% a
                                                    20%.</h5>
                                            </div>

                                            <!--<div class="position">
                                                <img src="assets/alert-circle.png" alt="">
                                                <p>Nível de engajamento</p>
                                            </div>
                                            <div class="range-wrap">
                                                <div class="range-value" id="range"></div>
                                                <input id="range" type="range" min="50" max="100" value="50" step="1">
                                            </div>-->
                                        </div>



                                    </div>
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="button-div internal-btn">
                                <div class="d-flex">
                                    <div class="p-2 hide-mobile"><button class="btn btn-primary"> <a
                                                style="text-decoration:none; color: white;" href="https://creators.llc/"
                                                target="_blank">Cadastre-se e
                                                contrate</a></button></div>
                                    <div class="p-2">
                                        <div class="modal" id="exampleModalToggle">

                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <h5 class="modal-title " id="exampleModalToggleLabel">
                                                            <img src="./assets/c.svg" alt="">
                                                        </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>

                                                    <div class="modal-body">
                                                        <h1>
                                                            Preencha as informações e receba sua simulação em seu email
                                                        </h1>
                                                    </div>
                                                    <div class="d-flex justify-content-center mb-4 main">
                                                        <button :class="{ background : isUser1 }"
                                                            @click="isUser1 = true" class="btn-creator "
                                                            data-bs-target="#exampleModalToggle">Sou Empresa</button>
                                                        <button :class="{ background : !isUser1 }"
                                                            @click="isUser1 = false" class=" btn-company "
                                                            data-bs-target="#exampleModalToggle">Sou Creator</button>
                                                    </div>

                                                    <div class="form-floating mb-4">
                                                        <input type="text" class="form-control" placeholder="Nome">
                                                        <label>Nome</label>
                                                    </div>

                                                    <div class="form-floating">
                                                        <input type="email" class="form-control" id="floatingInput"
                                                            placeholder="name@example.com">
                                                        <label for="floatingInput">{{(isUser1) ? "Email da empresa" :
                                                            "Email"}}</label>
                                                    </div>

                                                    <button class="btn-primary mt-4 simulation-btn"
                                                        data-bs-dismiss="modal">Enviar
                                                        simulação</button>

                                                </div>
                                            </div>
                                        </div>
                                        <!-- <a class="btn btn-primary " data-bs-toggle="modal" href="#exampleModalToggle"
                                            role="button">Receba por email</a> -->
                                    </div>
                                    <div class="ms-auto p-2 ">
                                        <a style="color: white; text-decoration: none;"
                                        href="#recalcule"> <button class="btn btn-primary">
                                            Recalcule</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>
    <section>

    </section>
    <section>
        <div class="container">
            <div class="card-information">
                <div class="row">
                    <div class="col-md-6 order-md-2 info-img ">
                        <img class="rellax" src="./assets/woman.jpg">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <!-- <h5 class="card-title">Quer o criador de  conteúdo certo para <br> sua empresa?</h5> -->
                            <h5>Quer receber mais <br> trabalhos de parceria com o seu perfil de criador de conteúdo?
                            </h5>
                            <p class="card-text mt-3">Cadastre-se na nossa comunidade de criadores
                            </p>
                            <div class="btn-investment">
                                <button class="py-2">

                                    <a style="text-decoration:none; color: white;" class="button-be-creators px-5"
                                        href="https://creators.llc/" target="_blank">Seja Creators</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card-information ">
                <div class="row">
                    <div class="col-md-6 info-img">
                        <img class="rellax" src="./assets/man1.jpg">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title mt-5">Quer contratar criadores de conteúdo?
                            </h5>
                            <p class="card-text mt-3">Seja um parceiro da Creators e cadastre sua empresa
                            </p>
                            <div class="btn-investment mb-5">
                                <button class="py-2">
                                    <a style="text-decoration:none; color: white;" class="px-4"
                                        href="https://creators.llc/" target="_blank">Cadastre-se sua
                                        empresa</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container questionary little-gap">
        <h1 class="col-md-8 offset-md-2 my-4">Com dúvidas?
            A gente responde</h1>

        <div class="accordion col-md-8 offset-md-2">
            <button type="button" class="accordion__button container ">O que esta calculadora usa como base para
                devolver os resultados?
            </button>
            <div class="accordion__content container">
                <hr>
                <p>Alcance da postagem, impressões de postagens, número de seguidores; <br>
                    Taxa de engajamento do influenciador versus nossa taxa de engajamento de referência;<br>
                    O preço estimado de postagens patrocinadas; <br>
                    Essas estimativas são baseadas em dados de campanhas, postagens e colaborações com os
                    influenciadores na plataforma CREATORS LLC. Como as métricas individuais de um influenciador podem
                    se desviar da média, a calculadora deve ser usada apenas como um guia.
                </p>
            </div>
        </div>

        <div class="accordion col-md-8 offset-md-2  ">
            <button type="button" class="accordion__button container">Eu sou uma marca, posso usar como estimativa
                de verba para investimento?</button>
            <div class="accordion__content container">
                <hr>
                <p>Sim! A calculadora pode ser usada por qualquer pessoa que trabalhe com influenciadores. Os dados
                    desta calculadora de preços são baseados em postagens patrocinadas para fornecer uma estimativa de
                    quanto você deve pagar a um criador por postagem.
                </p>
            </div>
        </div>

        <div class="accordion col-md-8 offset-md-2 pb-5 ">
            <button type="button" class="accordion__button container">Como a Creators funciona?</button>
            <div class="accordion__content container">
                <hr>
                <p>Conectamos marcas admiradas com criadores de conteúdo a partir dos objetivos de cada campanha e
                    perfil dos criadores. Para clientes, basta publicar um briefing na plataforma que entregamos
                    estratégia, mapeamento dos melhores criadores, gerenciamento de conteúdo e relatório de resultados.
                    Para criadores, basta criar um perfil na plataforma, deixar o mais completo possível e aguardar
                    nosso sistema de matchmaking para receber convites de jobs. Crie sua conta <a
                        href="https://creators.llc/" target="_blank">clicando aqui.</a>
                </p>
            </div>
        </div>
    </div>
    </div>

    <section>
        <footer>
            <div class="container">
                <div class="row footer">
                    <div class="col-md-6">
                        <a href="https://creators.llc/" target="_blank"><img src="./assets/logo.svg" class="py-5"
                                alt="">
                            <h3>POWERFUL INFLUENCE <br>
                                MARKETING PLATFORM</h3>
                        </a>
                        <div class="list-terms">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="https://creators.llc/documents/Termos_de_Uso_Creators.pdf">Termos e
                                            condições</a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="https://creators.llc/documents/Politica_de_privacidade.pdf">Política de
                                            privacidade</a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="mailto:hello@creators.llc">hello@creators.llc</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 d-flex align-items-end d-flex flex-column pt-5 ">
                        <ul class="d-block p-0 ps-2">
                            <li class="d-inline-block me-2">
                                <a href="https://www.instagram.com/creators.llc/" target="_blank"><img
                                        src="assets/instagram.svg" alt="instagram logo"></a>
                            </li>
                            <li class="d-inline-block me-2">
                                <a href="https://www.linkedin.com/company/creators-llc/" target="_blank"><img
                                        src="assets/linkedin.svg" alt="linkedin logo"></a>
                            </li>
                            <li class="d-inline-block me-2">
                                <a href="https://www.facebook.com/creators.llc/" target="_blank"><img
                                        src="assets/facebook.svg" alt="logo facebook"></a>
                            </li>
                        </ul>
                    </div>
        </footer>
    </section>

    <script src="all.js"></script>

</body>

</html>